@{
    ViewData["Title"] = "Bookstore";
}

@model BookListViewModel
    <!--Results table-->
    <div style="padding: 20px;" class="text-center">
        <h5 class="display-4 text-capitalize font-italic font-weight-light text-primary">best books</h5>
        <table class="table table-bordered list-group-horizontal-lg">
            <thead>
                <tr class="bg-light">
                    <th>Title</th>
                    <th>Author</th>
                    <th>Publisher</th>
                    <th>ISBN</th>
                    <th>Classification</th>
                    <th>Category</th>
                    <th>Pages</th>
                    <th>Price</th>
                    <th>Cart</th>
                </tr>
            </thead>
            <tbody>
                <!--Loop that pulls data from ProjectSummary.cshtml shared layout-->
                @foreach (var x in Model.Books)
                {
                    <partial name="ProjectSummary" model="x" />
                }
            </tbody>
        </table>
    </div>

    <!--Creates page navigation menu based on the PageInfo model with PageLinkTagHelper css model-->
    <div page-model="@Model.PageInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
         page-class-normal="btn-outline-dark"
         page-class-selected="btn-secondary"
         page-url-category="@Model.CurrentCategory"
         class="btn-group col-md-2">
    </div>


    <!--
    Custom Bootstrap Styling
        {
            For my header: class="display-4 text-capitalize font-italic font-weight-light text-primary" -- I figured out how to use bootstrap commands to change text capitalization, formatting, color, and overall appearance.
            For my table: class="table table-bordered list-group-horizontal-lg" -- these table commands were new to me and I researched how to utilize them.
            For my row: class="bg-success" -- I experimented with bootstrap background colors.
            For my page navbar: class="btn-group col-md-2" -- the col-md-2 command was foreign to me so I researched how ot utilize it.
        }
    -->
